:root {
    --font-family-playfair: "Playfair Display", serif;
    --font-family-pt: "PT Sans", sans-serif;
    --font-family-open: "Open Sans", sans-serif;

    --color-white: #fff;
    --color-black: #000;
    --color-orange: #f04a0e;
    --color-black-dull: rgba(0, 0, 0, 0.7);

    --font-color: #111111;
    --font-color2: #808080;
    --font-color-ancer: #ffffffa1;
    --font-color-ancer2: #757575;
    --font-color-error: #ffeb3b;

    --bgcolor: #292d33;
    --bgcolor2: #1a1a1a;
    --bgcolor3: #f5f5f5;
    --bgcolor4: #feece6;
    --bgcolor5: #e5e5e5;
    --bgcolor6: #f2f2f2d1;
    --bgcolor-header: #fffffff5;
    --bgcolor-header-respo: #f2f2f2;
    --bgcolor-footer: #333333;

    --color-box-shadow: rgba(0, 0, 0, 0.24);

    --error-accent-color: #ff6f61;
}